#  Local .terraform directories
**/.terraform/*
*.tfstate
*.tfstate.backup

# .tfvars files
*.tfvars

# terraform plan
*.plan

# Ansible tmp files
inventory
*.retry

# Other files
exoscale.tfvars
certs
cloudstack.ini
