[Service]
Environment=KUBELET_IMAGE_TAG=v1.5.4_coreos.0
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --api-servers=https://{{ groups.kubernetes_master | first }} \
  --register-node=true \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override={{inventory_hostname}} \
  --cluster-dns=10.3.0.10 \
  --cluster-domain=cluster.local \
  --kubeconfig=/etc/kubernetes/manifests/worker-kubeconfig.yaml \
  --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem \
  --cadvisor-port=0
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
